.box {
    width: 150px;
    height: 200px;
    border: 2px solid black;
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
}